[2014-08-24 16:09] EvanHahn opened #1 "Add some CSP pre-configured options"
Something like this might be cool:

[code]

I'd love some way to _add_ these to policies, rather than overwrite them. Ideas?

[2014-08-24 16:09] EvanHahn opened #2 "Test Chrome Mobile CSP"

[2014-08-24 16:11] EvanHahn opened #3 "Publish to NPM"
We'll do this after [helmet-crossdomain](https://github.com/helmetjs/crossdomain) has been in the wild for awhile. We'll likely change a few things here and there before we're ready to publish the rest of the middlewares.

[2014-10-28 13:48] #3 closed, assigned to nobody

[2015-01-19 15:17] jsebfranck opened #7 "Do not send CSP for old Android Browsers"
Following https://github.com/helmetjs/helmet/pull/82, I created a simple app to easily reproduce the problem : https://github.com/jsebfranck/helmet-csp-example. It is a simple express app with an html view where I try to use a Javascript alert.

Without helmet-csp, it works fine on my device (Samsung Galaxy Tab 2, native Android Browser 4.0). But as soon as I add scriptSrc to self, it doesn't work

[2015-01-19 16:12] teppeis commented on #7
@jsebfranck I think it's expected behavior.
`unsafe-inline` is needed to run [your inline script](https://github.com/jsebfranck/helmet-csp-example/blob/1e0c5c010f7a568d8d4849f1a67d724c50e78b52/views/csp.html#L4).
`self` allows only external scripts on the same domain like: `<script src="foo/bar.js"></script>`

[2015-01-20 09:02] jsebfranck commented on #7
You're right ! My example is not good. I added unsafe-inline and the Javascript still doesn't work on my old Android tablet.

[2015-01-20 18:17] EvanHahn commented on #7
Tested this on Android 4.4 and on desktop Chrome. For testing, what's the user-agent of your Android tablet? You can use this page: http://www.whatsmyua.com/

[2015-01-21 09:21] jsebfranck commented on #7
My user agent is Android 4.1.2, AppleWebKit/534.30.

[2015-01-22 05:42] EvanHahn opened #8 "In tests, change asserts"
Instead of:

[code]

Do:

[code]

[2015-01-22 05:57] EvanHahn commented on #7
I _believe_ I've fixed things with Android. However, I've found that Android can be quite unreliable, so if you're having issues, you can now disable it:

[code]

In a few minutes, I'll be releasing `csp` 0.2.0 and `helmet` 0.6.0 with these changes.

[2015-01-22 05:57] #7 closed

[2015-01-22 05:57] #2 closed

[2015-01-22 05:59] #8 closed

[2015-01-22 06:00] EvanHahn commented on #1
Closing this because I don't think anyone cares.

[2015-01-22 06:00] #1 closed

[2015-01-22 08:42] analytically opened #9 "Support CSP level 2"
Chrome 40 introduces support for CSP level 2: https://w3c.github.io/webappsec/specs/content-security-policy/#changes-from-level-1

[2015-01-22 10:16] jsebfranck commented on #7
Thank you very much ! It works now.

[2015-01-22 18:24] EvanHahn commented on #7
Great! Did it work without disabling Android?

[2015-01-22 19:35] EvanHahn commented on #9
I knew this day would come.

This package would be pretty simple if it weren't for browser inconsistencies, but the code becomes _very_ hairy when the code can be quite different between two different browsers (or two different versions of the same browser). Now, for the majority of cases, we'll have a lot of `if` statements, checking versions and removing directives.

We can also have issues when

[2015-01-23 09:39] jsebfranck commented on #7
Yep, it is what it did. Thanks.

[2015-01-26 02:52] cstigler commented on #9
Ah, that's tough. IMO ```csp``` should be sending the minimal set of headers to make the intended behavior work in the given-browser. So ```child-src``` would be replaced with ```frame-src``` and vice-versa. In other words, we maintain a map of the *behaviors* we want, not the specific headers to send.

[2015-01-29 21:03] EvanHahn commented on #9
At first, I liked the idea of users describing *behavior*, not specific headers. But I don't want people to have to learn CSP and "Helmet CSP". I'd also want to include an interface to "raw" CSP if we did this, which would mean a lot more code (and therefore more places for bugs to creep in).

Most of the time, CSP 1 and CSP 2 are compatible. This should work for CSP 1 and CSP 2, for example:

[co

[2015-02-01 00:27] cstigler commented on #9
Iunno, I would find it irritating to have to specify multiple versions. Even though it has a few deprecations, CSP **Level** 2 is intended to be compatible with Level 1. I highlighted "level" there because I think it says something important about the way it's intended to be implemented (vs "version"). A version is a replacement, while "level" just indicates a new set of functionality -- much like

[2015-02-12 01:21] EvanHahn commented on #9
I agree with that. I _think_ this is just a matter of doing two things:

1. Go into [config.js](https://github.com/helmetjs/csp/blob/master/lib/config.js) and add the new directives and options
2. Add tests

Anything else?

[2015-02-12 03:37] cstigler commented on #9
Oh, cool, I like the new config.js setup. Sounds like that's probably it to me! :+1:

[2015-03-03 04:57] EvanHahn commented on #9
Sorry I'm so slow with this--life has become a bit busier.

[2015-03-05 14:18] analog-nico opened #10 "'unsafe-inline' and 'unsafe-eval' on Firefox 20 for Mac"
Hey guys, awesome lib. Love it!

I heavily rely on 'unsafe-inline' and 'unsafe-eval'. For Firefox 4 to 22 you replace those with 'inline-script' and 'eval-script'. I tested that on Firefox 20 for Mac and found out that you must not replace those strings in this version. Only the original ones work in this browser.

It even states:
[code]

How did you test which strings to use in which browser? Did

[2015-03-05 15:22] EvanHahn commented on #10
We do a lot of user-agent sniffing, but our testing story there is pretty weak. I'd _love_ help making a SauceLabs test of some kind. Any thoughts?

Happy to host whatever server component we need.

[2015-03-05 16:34] analog-nico commented on #10
Great! For starters I could write a small test app that we could use for manual or even automated testing. Stay tuned for my pull request. We can discuss the next steps afterwards.

[2015-03-05 16:41] EvanHahn commented on #10
Sweet--thanks so much!

[2015-03-17 21:20] EricLin2004 opened #11 "Illegal access error on Node 0.11.13"
Getting this error on node `0.11.13`
![screen shot 2015-03-17 at 2 17 53 pm](https://cloud.githubusercontent.com/assets/3770894/6697845/a61d3da0-ccb0-11e4-94d3-4b0e72a53f28.png)

Doesn't occur when I use node version `0.11.12` though.

Any ideas?

[2015-03-17 21:37] EvanHahn commented on #11
Looks like some kind of Lodash issue, but I can't reproduce it. Could you give me your CSP config (or one that makes this error happen)?

[2015-03-17 21:43] EricLin2004 commented on #11
`config.json` in the node module? Here:
[code]

Yeah I saw it was something in Lodash, `helmet-csp` is using `"lodash": "3.2.0"`, maybe there's an error with that and node version 0.11.13?

[2015-03-17 22:56] EvanHahn commented on #11
Ah, sorry—could you give me your CSP config? Like this:

[code]

[2015-03-18 00:06] EricLin2004 commented on #11
er, all I have is:
[code]
Sorry, should I have put this in the `helmet` repo? I figured since the error showed helmet-csp, might be better to put it here.

[2015-03-18 00:09] EvanHahn commented on #11
No, this is the right place.

I'll look into it.

[2015-03-23 15:58] EvanHahn commented on #11
Could you try updating to Helmet 0.7.1? I just pushed a new version with an updated Lodash.

[2015-03-23 16:09] EricLin2004 commented on #11
Sure thing, thanks for the help @EvanHahn !

[2015-03-24 15:11] EvanHahn commented on #11
Did that fix it?

[2015-03-24 16:40] EricLin2004 commented on #11
Hm, nope, still getting the illegal access error.

I see the updated lodash `3.5.0` when I updated to helmet `0.7.1` though.

[2015-03-25 16:26] EvanHahn commented on #11
I can't reproduce this with my test app:

[code]

I'm running Node 0.11.13, Express 4.12.3, and Helmet 0.7.1.

Can you make a simple app that triggers this change? The error _looks_ like it's in Lodash, not Helmet, but I want to make sure.

[2015-04-21 18:41] EvanHahn commented on #11
@EricLin2004 Did that example app fix anything?

[2015-04-21 18:42] EvanHahn opened #12 "Remove Lodash dependency"
See <https://github.com/helmetjs/helmet/issues/95>.

[2015-04-21 20:27] trygve-lie commented on #12
Could the deep copy in lodash be replaced with a simpler shallow copy? To me it looks like its only iterating over the config object which are pretty flat.

[2015-04-21 20:49] EricLin2004 commented on #11
Hm, I took a look into it again and I'm confused.

I tried your example app, it works fine. However, if I switch the first two lines I get the illegal access error. IE: if I require `helmet` before requiring `express` I get
![screen shot 2015-04-21 at 1 47 51 pm](https://cloud.githubusercontent.com/assets/3770894/7262271/0e20927a-e82d-11e4-80dd-b15bd2835611.png)

Also, my main app that originally

[2015-04-21 21:38] EvanHahn commented on #11
I'm really not sure what's happening, but we're about to remove Lodash from the project (#12) which should fix it.

[2015-04-21 21:44] EricLin2004 commented on #11
Were you able to reproduce the error by swapping the order of requiring `helmet` and `express`?

[2015-04-22 00:09] #12 closed

[2015-04-22 00:16] EvanHahn commented on #10
@analog-nico Any updates on the test app? No rush!

[2015-04-22 01:14] EvanHahn commented on #11
@EricLin2004 The latest version of Helmet (`0.8.0`) removes the Lodash dependency. Could you try upgrading and seeing if that fixes your error?

[2015-04-22 02:04] EricLin2004 commented on #11
Looks good on my end, no more errors! Thanks for all the help ;)

[2015-04-22 02:43] EvanHahn commented on #11
No problem! Sorry it took so long.

[2015-04-22 02:43] #11 closed

[2015-04-22 12:15] analog-nico commented on #10
Thanks for the ping! Having the project opened in my editor but hidden behind my main one obviously doesn't help. ;) But let me see if I can spare some time for it in the coming days.

[2015-04-22 12:52] EvanHahn commented on #10
Let me know if you need help!

[2015-04-24 20:57] analog-nico commented on #10
Hey @EvanHahn I threw together a test page in pull request #14 . If we just used it as it is we would need to host the test server in `test/fixtures/directive-compatibility/server.js` somewhere and open the test page in all browsers that we would like to test.

It is actually difficult to do automated testing because checking whether a resource like an image loaded or not is not easy to check auto

[2015-04-24 21:09] analog-nico commented on #10
We could use http://www.browserstack.com/screenshots to make the screenshots.

[2015-04-25 19:10] analog-nico commented on #10
I just added the test results to my pull request. See [test/results/directive-compatibility/_RESULTS.xlsx](https://raw.githubusercontent.com/analog-nico/csp/master/test/results/directive-compatibility/_RESULTS.xlsx) for a summary. Unfortunately, they are really bad.

I updated the test page a little bit to better see everything by just getting the screenshot from Browserstack. Since my quota of a

[2015-04-26 18:26] analog-nico commented on #10
It turned out the tests on BrowserStack were not adequate in many cases. So I redid them using Browserling and SauceLabs. The result now doesn't look too bad. I documented the current test status in pull request #14 .

The issue initially reported here is reflected in the test results. Although I stated a possible fix in my first comment I am now not able to reproduce it anymore...

[2015-05-02 20:01] dstroot opened #15 "What does helmet actually send to the reportUri route?"
I know it posts.  I have it setup as follows:

reportUri: '/csp',

handle it:
[code]

[code]

I can't figure out why I can't get some type of message or route from the post.  Help?

Thanks!

EDIT: I have tried both:
- bodyParser.urlencoded({ extended: false })
- bodyParser.json()

[2015-05-04 15:07] EvanHahn commented on #15
Helmet doesn't send CSP violations—browsers do. Mathias Bynens [wrote a post](https://mathiasbynens.be/notes/csp-reports) about how these work, which might be helpful.

If you need more info, let me know and I'll write up a more detailed answer.

[2015-05-04 16:42] dstroot commented on #15
This is great - once I work it all through I will plan to submit a PR to show a working example in the Readme if you are interested.

[2015-05-04 16:42] #15 closed

[2015-05-04 16:50] analog-nico commented on #15
+1 For an example in the README.

[2015-05-04 16:52] EvanHahn commented on #15
:+1:

[2015-05-05 15:42] dstroot commented on #15
See PR

[2015-06-29 10:26] septs opened #17 "request support: "CSP" request header handler"
I want to protect the resources of non-response by the CSP 403
see https://w3c.github.io/webappsec/specs/content-security-policy/#csp-request-header

[2015-06-29 23:30] EvanHahn commented on #17
I find these specs very hard to read:

Does this mean that if you're sending `'unsafe-redirect'`, you need to send `CSP: active` too?

[2015-07-08 16:57] KevinMartin commented on #17
From how I understand it, the browser sets that "CSP" header ("CH-CSP" in CSP 2.0) whenever the fetched resource is on a separate origin (and the policy from the website fetching the resource has "unsafe-redirect" in CSP 2.0).

This library doesn't deal with the fetched resource, but with setting the policy for the website fetching the resource. Therefore, from my interpretation of the Spec, this

[2015-07-08 23:01] EvanHahn commented on #17
In re-reading it, it seems like @KevinMartin is right. That feels like a separate module (one I'm happy to recommend in the README).

[2015-07-10 20:43] EvanHahn commented on #17
@septs Good to close this?

[2015-07-10 21:48] #17 closed

[2015-08-23 16:27] mikemaccana opened #19 "How to do per-request nonces or hashes?"
I have some content that's dynamic (server-side values that are unique per request, like geoIP's country code). I am currently using `unsafe-inline` in helmet, but how can I specify a per-request nonce or hash?

All the docs I've read on helmet so far use a static policy, which won't work with nonce's and won't for  hashes of dynamic content.

[2015-08-23 16:30] mikemaccana commented on #19
Hrm doing some research Yahoo's CSP app has some specific options for this https://github.com/yahoo/express-csp

[2015-09-03 16:54] EvanHahn commented on #19
I like the idea of dynamic policies.

What if you could specify a function that's evaluated on every request?

[2015-09-04 13:35] kennethaa opened #20 "helmet blocks external links"
Hi,

Thank you for this wonderful project.

I got one problem that I can't figure out. External links (```<a href="http://google.com target="_blank">Google</a>```) doesn't work with Chrome and Safari, but works on Firefox. What have I done wrong in my config?

[code]

[2015-09-04 16:07] EvanHahn commented on #20
Can you open up your devtools so we can see what the CSP looks like?

[2015-09-07 07:29] kennethaa commented on #20
Here is a screenshot of how the response looks like:

![helmet](https://cloud.githubusercontent.com/assets/1437394/9711280/afa67a2e-5542-11e5-80c0-26e4e1f55d41.png)

There no information in the console that something happened with CSP. But when I disable helmet on the Node server, I'm able to click on external links.

Best regards,
Kenneth

[2015-09-12 22:09] EvanHahn commented on #20
Not sure what's wrong here. A guess: try adding `allow-top-navigation` to the `sandbox` part of your directive and see what happens.

[2015-09-17 23:07] EvanHahn opened #21 "Add support for "upgrade-insecure-requests""
See <http://www.w3.org/TR/upgrade-insecure-requests/>.

[2015-09-18 23:09] EvanHahn commented on #20
@kennethaa Any luck with that?

[2015-09-18 23:31] EvanHahn commented on #9
CSP level 2 is finally added in `helmet@0.11.0` and `helmet-csp@0.3.0`!

[2015-09-18 23:31] #9 closed

[2015-09-18 23:31] EvanHahn commented on #21
Closed in 44e4bf0f64e08ac9f66e4667958a97f55de48778.

[2015-09-18 23:31] #21 closed

[2015-09-18 23:34] EvanHahn commented on #19
For what it's worth, you can do hashes already:

[code]

You can also do nonces, but it's less elegant:

[code]

I don't think we need to do anything with SHAs—I think that works fine. Do you wish this were natively supported in this module?

[2015-09-30 00:18] EvanHahn opened #22 "Add referrer and reflected XSS directives"

[2015-10-15 14:52] hurricane766 opened #23 "Issues with single and double quotes"
For ease of reuse, I'd like to define my csp options in a JSON config file and import them in when the application starts, but this is throwing csp violations:

    var csp = require('helmet-csp');
    app.use(csp({ defaultSrc: config.csp.defaultSrc });

I believe the issue lies in

     { key: [ '\'value1\'', 'value1' ] }

I'm not sure if I'm missing something simple or not, but I can't seem to f

[2015-10-15 16:38] EvanHahn commented on #23
Could you show me the value of `config.csp.defaultSrc`? And is the error coming from Helmet, or is the browser throwing CSP violation errors?

[2015-10-15 16:39] EvanHahn commented on #20
@kennethaa I'd love to get this issue closed. Are you still having this issue?

[2015-10-15 16:39] EvanHahn commented on #19
@mikemaccana Any thoughts on this?

[2015-10-15 16:49] hurricane766 commented on #23
I finally figured out what was happening. (PEBKAC)

During deployment the config file is read in and written out and the double quote - single quote turns into a double quote. I was also having issues with typos apparently, not my finest hour (or 3).

Thanks for having a look.

[2015-10-15 16:49] #23 closed

[2015-10-15 16:50] EvanHahn commented on #23
No problem! Feel free to add a new issue or join us on [Gitter](https://gitter.im/helmetjs/helmet) if you come across other issues.

[2015-10-16 11:44] kennethaa commented on #20
Hi @EvanHahn ,

Sorry for not responding. I've stopped using contentSecurityPolicy for now, so I can reopen if this is happening when I'm using it again.

[2015-10-16 11:44] #20 closed

[2015-11-01 15:52] EvanHahn commented on #19
@mikemaccana It's been over two months since I've last heard. I'm going to close this issue, but feel free to reopen it if you don't feel I've addressed your concern!

[2015-11-01 15:52] #19 closed

[2015-11-09 15:18] EvanHahn opened #24 "Investigate a faster User Agent parser"
Came across <https://github.com/3rd-Eden/useragent>, which claims to be fast. We should evaluate it and see whether it's good for this module.

[2015-11-10 11:07] analog-nico commented on #24
+1

I am using this library for a few month in production now to filter out old browsers / bots to redirect / block them. This library is really great.

The code to parse the user agent would be `var agent = useragent.parse(req.headers['user-agent']);`. The second parameter would execute a more complex extended parsing which is not necessary for csp. Then checking `agent.family` for the following

[2015-12-02 21:12] Amberlamps opened #27 "Example in README is not working."
I am running an express app with following dependencies:

[code]

Was the example "Handling CSP violations" running on older versions of Express and/or body-parser, because it is not working for me? bodyParser does not recognize `application/csp-report` as valid Content-Type for bodyParser.json(). I had to add the following to make it work:

[code]

Thanks to @oroce for that Gist: https://gist.git

[2015-12-03 16:42] #27 closed

[2015-12-03 16:42] EvanHahn commented on #27
Thanks! I've updated the readme.

[2015-12-18 23:37] EvanHahn commented on #24
I did some cursory tests and found that `useragent` performed just as well as `platform` (the library we're currently using). Any reason to change libraries here? My benchmarks were really sloppy, so that might affect it.

[2015-12-19 01:33] EvanHahn commented on #10
I'm going to close this for now; it's been open for a long time.

[2015-12-19 01:33] #10 closed

[2015-12-19 01:37] EvanHahn commented on #22
Fixed in 371cbd77776b2383de3042849d89cda31f69a29a.

[2015-12-19 01:37] #22 closed

[2015-12-19 15:44] pigulla opened #28 "TypeError if user agent is missing"
The `transformDirectivesForBrowser` method accesses `browser.name` which in turn is read from the `user-agent` request header. If that header is missing (as it was in my end-to-end tests), CSP crashes with `TypeError: Cannot read property 'name' of undefined`.

[2015-12-19 15:47] EvanHahn commented on #28
@pigulla Investigating now.

[2015-12-19 15:50] #28 closed

[2015-12-19 15:53] pigulla commented on #28
:thumbsup: Thanks!

[2015-12-19 15:59] EvanHahn commented on #28
Thanks for reporting! This has been fixed in `helmet-csp@1.0.1` and `helmet@1.0.1`.

[2015-12-29 18:36] BerkeleyTrue opened #29 "Add a changelog or upgrade guide."
It would be great to know exactly what API changes were made from 0.3 to 1.0.1. I wasn't able to deduce that from a general glance at the API.

[2015-12-29 18:37] BerkeleyTrue commented on #29
Same for `helmet`. Not providing a change log makes it hard to upgrade easily.

[2015-12-29 18:53] EvanHahn commented on #29
`helmet` [does have a changelog](https://github.com/helmetjs/helmet/blob/master/HISTORY.md) but its sub-libraries don't. I've been on the fence about whether to add them. On one hand, it's duplicated data; on the other, it's nice to have in both spots. What do you think?

Do you think the main Helmet changelog would've sufficed for your upgrades?

[2015-12-29 19:22] BerkeleyTrue commented on #29
I see. Sorry, I was scanning for CHANGELOG and missed the history file. I think that should be enough. Maybe add a comment on this README pointing to the History file in the main repo.

[2015-12-30 00:04] EvanHahn commented on #29
No worries! That's a good idea--I'll add a comment in the readme.

[2015-12-30 00:52] BerkeleyTrue commented on #29
:+1:

[2015-12-31 02:47] #29 closed

[2015-12-31 02:47] EvanHahn commented on #29
Done!

[2015-12-31 06:37] BerkeleyTrue commented on #29
:shipit:

[2016-02-19 22:30] Ry7n opened #32 "Add option to disable non-standard CSP headers"
We're currently running with `setAllHeaders: true` because we'd like to cache the responses, which you can't do if we're dynamically setting headers based on user agent.

Since the nonstandard versions of the CSP header are supported by browsers that are falling out of use, it would be awesome to provide an option to disable dynamic headers completely, and just use the standard one.

[2016-02-19 22:58] EvanHahn commented on #32
I agree. I've also thought about a version of this module that does no browser sniffing; is that something you'd want?

[2016-02-20 18:42] Ry7n commented on #32
I'm a fan of the entire helmet suite, so I'd be uninterested in a second library. I would, however be happy to send a PR if the maintainers would consider it.

[2016-02-20 18:50] Ry7n commented on #32
The API change I would make would be a new option, `setLegacyHeaders` which supports three values:

* `"auto"` - the current default behavior
* any other truthy value - equivalent of `setAllHeaders: true`
* any defined falsey value - only sets the standard header

The default value would be derived from the setAllHeaders config for backwards compatibility, and setAllHeaders would become deprecated

[2016-02-21 16:20] EvanHahn commented on #32
Ah, sorry—I didn't mean to suggest I'd make another library.

What about this?

[code]

[2016-02-22 06:35] Ry7n commented on #32
Looks good to me.

[2016-02-22 23:20] EvanHahn commented on #32
Would you be interested in making a pull request?

[2016-02-24 04:04] Ry7n commented on #32
Sure, I'll give it a shot.

[2016-02-28 16:33] EvanHahn commented on #24
This issue has been open for awhile with little interest. Closing.

Feel free to open a new issue if you feel this is a problem! Or a PR if you can show that it's faster!

[2016-02-28 16:33] #24 closed

[2016-02-29 15:09] EvanHahn commented on #32
I took bits and pieces of what you did, [committed it with you as the author](https://github.com/helmetjs/csp/commit/27a7a23d878d05a300fe06dbf16ceb63abe7e754), and added you as a contributor in the `package.json`. I decided to go with an API of `browserSniff: false` which eschews all useragent sniffing.

This is released in `helmet-csp@1.1.0` and `helmet@1.2.0`.

Thanks for your help!

[2016-02-29 15:09] #32 closed

[2016-04-13 16:15] EvanHahn opened #34 "Make sure we support `block-all-mixed-content` directive"
See https://www.w3.org/TR/mixed-content/.

This might also require a change in the DefinitelyTyped TypeScript definition files for Helmet. This isn't technically part of this module but is probably easy to fix and worth doing.

[2016-05-11 17:32] muffinresearch opened #36 "upgrade-insecure-requests directive is always set for falsey config values"
We have a config for production that turns on `upgrade-insecure-requests`, however for the development conf (which overrides the prod config) we want to turn off `upgrade-insecure-requests` since the local dev is running on http. Unfortunately if the `upgrade-insecure-requests` key is there with any falsey value the header is still sent.

Here's a basic test-case:

[code]

The output is:

[code]

[2016-05-11 18:20] EvanHahn commented on #36
This turns out to be intentional.

Sometimes, you want to specify a directive with _no_ keys. For example, to omit all JavaScript, you might send a header like this:

[code]

You can do something like this to get that behavior:

[code]

This is why `csp` takes _any key_ to mean "include this directive", even falsy values.

Luckily, CSP lets you do this:

[code]

Does that help?

[2016-05-12 13:40] muffinresearch commented on #36
Thanks for the quick reply

Is there somewhere in the spec that say that's OK? I would have thought `script-src 'none'` would be more correct since script-src requires a source-list. But then you'd need to be aware of directive value types and it doesn't seem like Helmet knows about that afaict.

The downside of setting the key only where it's needed is that it means I am now having to not have `u

[2016-05-18 22:54] EvanHahn commented on #34
This has been supported for awhile. Closing.

[2016-05-18 22:54] #34 closed

[2016-05-18 22:58] EvanHahn opened #37 "Make `report-uri` optional"
I made `report-uri` required if you're using a `report-only` policy.

But, to quote @mfinifter:

I think this is a legitimate use case, but I want to protect developers from accidentally doing the wrong thing. You could also do this by setting _any_ `report-uri` and watching things 404, though that's an imperfect workaround.

This would be a breaking change.

What do people think?

[2016-05-18 23:07] EvanHahn commented on #36
I think you're right that `script-src 'none';` is correct and `script-src;` isn't—I'm not sure what the behavior is in that case. I probably shouldn't allow it, or coerce it to `'none'`, or at least give a warning.

There _is_ the case where some directives don't have any "arguments", like `sandbox` or `upgrade-insecure-requests`, so this module needs _some_ way of specifying that.

I assume you w

[2016-05-19 09:15] muffinresearch commented on #36
Yes I think if `upgradeInsecureRequests: false` meant that directive isn't sent it would be more intuitive for that specific case.

Fwiw `sandbox` also allows _optional_ values to specify the sandbox features as well as no value. See https://www.w3.org/TR/CSP2/#directive-sandbox

For `sandbox`, maybe `false` would mean don't set it and `true` would provide just `sandbox` and if a list was provided

[2016-05-20 17:12] EvanHahn commented on #36
I think there are two interesting points here. (1) How do you set an "empty" directive and what does `helmet-csp` do with falsy values? (2) Should `helmet-csp` understand more of the spec?

### Setting empty/falsy directives

I'll start by saying that I'm hesitant to make breaking changes, especially if you can do it (albeit inelegantly) now.

I think we can agree that we know what happens when th

[2016-05-23 14:47] XVincentX commented on #37
I agree with the guy. In order to use that in my project, I had to sign up for a report uri (`report-uri.io`) even if I did not really want to.

[2016-05-23 19:12] muffinresearch commented on #36
I'm probably of the (biased) opinon that fixing the first problem re: falsey value handling is easiest if you deal with the 2nd issue of helment understanding more of the spec. The context of what the directive is is really the only way to know to deal with a given value. Mainly it would be a case of dealing with src-lists but there's the few other cases as we've previously covered.

As an example

[2016-05-25 13:54] tbassetto commented on #37
While implementing a CSP policy in our application, I first tried to just "report" violations, not block assets.

I obviously got the message saying that I have to configure a `report-uri`, but I can't use https://report-uri.io (because it may leak important data to a service I do not trust) and it will take too long to set up an alternative to https://report-uri.io inside our network.

If we set

[2016-05-25 14:05] tbassetto opened #38 "`-Report-Only` can end up being added several times"
I noticed a bug when using [`browser sync`](https://github.com/BrowserSync/browser-sync) and `helmet-csp` where I end up having HTTP headers like this one:

![screen shot 2016-05-25 at 15 58 34](https://cloud.githubusercontent.com/assets/211630/15542719/3aeb8062-2292-11e6-8dc0-19b25749e9d6.png)

I am not sure in which module the error is so I will start here :)

I wrote a minimal test case and ins

[2016-05-26 17:00] EvanHahn commented on #36
I think you're totally right...ready for a fat list?

Here's how I think directives should be passed in the future.

For `base-uri`, `child-src`, `connect-src`, `default-src`, `font-src`, `form-action`, `frame-ancestors`, `frame-src`, `img-src`, `media-src`, `object-src`, `script-src`, and `style-src`:

| what's passed in | what happens in "strict mode" | what happens in "loose mode" | different f

[2016-05-26 17:02] EvanHahn commented on #37
I just left a comment in another issue (https://github.com/helmetjs/csp/issues/36#issuecomment-221931577) about some new `report-uri` behavior. Go check it out—if you like that, I'll be putting it in `helmet-csp@2.0.0`.

[2016-05-26 17:03] EvanHahn commented on #38
Woah! Are you able to reproduce this without BrowserSync?

[2016-05-26 20:58] EvanHahn opened #39 "Link to GitHub's CSP blog post"
GitHub wrote a great post about CSP which we should link to in the readme.

http://githubengineering.com/githubs-csp-journey/

[2016-05-28 08:14] tbassetto commented on #38
I haven't tested with another http server supporting middlewares yet. I will try next week.

[2016-05-28 12:38] EvanHahn commented on #38
Let me know what you find!

[2016-06-01 13:11] muffinresearch commented on #36
Looks good on the whole (sorry for taking a while to reply there's lots going on at the moment).

I think `strict` mode could be a little more brutal e.g. an empty `source-list` type should probably be an error and not assume "'none'".

Similarly for the mixed type `sandbox` directive, an empty list should be an error saying that the expected values are either `true`, `false` or a list containg th

[2016-06-06 15:36] EvanHahn commented on #36
I agree with everything you've said.

This is a fairly large change but I'll work on it when I get a chance.

[2016-06-08 00:08] EvanHahn commented on #37
@tbassetto @XVincentX @mfinifter What do y'all think of this?

[code]

[2016-06-08 00:08] EvanHahn commented on #38
@tbassetto Did you find anything?

[2016-06-08 08:05] XVincentX commented on #37
It looks good to me.
As curiosity, wouldn't it be ok to just no throw an error when no report uri is defined?

[2016-06-08 11:49] tbassetto commented on #38
Nope sorry, I did not find time to try other with anything else then Browser Sync. Our project is not longer affected by that bug because we are using `reportOnly: false` now.

I will close the issue and let somebody with more information re-open it.

[2016-06-08 11:49] #38 closed

[2016-06-08 11:51] tbassetto commented on #37
I am ok with the proposal. If it was me I would make `helmet-csp` ALWAYS strict with no option for a loose mode but I understand why it could annoy people :)

[2016-06-08 15:25] EvanHahn commented on #38
Let me know if you are able to replicate. Thanks for reporting, and feel free to open a new issue if anything new comes up!

[2016-06-09 00:20] mfinifter commented on #37
Seems fine to me.

[2016-06-10 22:54] EvanHahn commented on #36
@muffinresearch Do you happen to know how you specify a completely empty `plugin-types`? Chrome seems to block all plugins with either of these:

[code]

I can't find much in the spec about this.

[2016-06-17 19:42] EvanHahn opened #40 "Add `block-all-mixed-content` support"
This is useful in an upcoming branch (see other issues); not needed now.

[2016-06-26 23:46] EvanHahn opened #41 "Add referrer policy support in 2.x"
See <https://www.w3.org/TR/referrer-policy/>.

This is not relevant for the 1.x version.

[2016-06-26 23:46] EvanHahn commented on #41
Let's wait for the 2.0 release before we start this.

[2016-07-20 12:09] shane-tomlinson opened #42 "connectSrc not converted to xhrSrc for Firefox for Android or FxOS"
We found this problem when testing Firefox Accounts with Firefox for Android (Fennec) and Firefox OS.

There are [rules in place to convert connectSrc to xhrSrc](https://github.com/helmetjs/csp/blob/master/lib/transform-directives-for-browser.js#L5) for Firefox Desktop < 24, but not Firefox OS or Fennec.

Firefox OS 1.x and and [Fennec < 25](https://bugzilla.mozilla.org/show_bug.cgi?id=858780) bot

[2016-07-27 18:20] #42 closed

[2016-07-31 20:49] EvanHahn commented on #41
This seems not to be relevant to this module. Closing.

[2016-07-31 20:49] #41 closed

[2016-07-31 21:15] EvanHahn commented on #36
@muffinresearch I _believe_ this is done and ready for you to take a look at! It's on the `2.0.0` branch, so I believe you can grab it like this in your package.json:

[code]

Let me know if it looks good!

[2016-08-05 19:11] EvanHahn commented on #32
@Ry7n I'm making a new website for Helmet.js and I want to credit everyone who's contributed. Do you have a name and/or website you'd like me to use to credit you?

[2016-08-06 14:31] RCanine commented on #32
Thanks! You can use the name and URL on my Github profile.

[2016-08-06 23:24] EvanHahn commented on #32
Added you to the list! Stay tuned for the new Helmet documentation website.

[2016-09-01 02:18] EntropyAu opened #46 "-Report-Only header broken - Content-Security-Policy-Report-Only-Report-Only-Report-Only"
Hi, I've encountered a strange issue with reportOnly enabled - over time the headers have multiple "-Report-Only"s appended to the end - to the point where the header name can be thousands of Kb in length (causing other problems). Instead of Content-Security-Policy-Report-Only I'm getting Content-Security-Policy-Report-Only-Report-Only-Report-Only-Report-Only-Report-Only-Report-Only-Report-Only-Re

[2016-09-14 20:10] chulander opened #48 "iOS chrome vs Other Chrome (transformDirectivesForBrowser)"
I noticed that only in iOS Chrome, handler is truthy in the transformDirectivesForBrowser.js while mac, windows, and android returns false.

the truthy handler sets the connectSrc:["'self'"] for iOS Chrome if the directive.connectSrc is falsy or appends "'self'" if the the directives.connectSrc doesn't contain "'self'".

I was hoping that the defaultSrc would be the policy string, however in iOS C

[2016-09-16 15:42] EvanHahn commented on #48
This was [a bug in iOS Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=322497) that looks like it was [fixed in August 2014](https://bugs.chromium.org/p/chromium/issues/detail?id=396076).

It'd be a breaking change to this module, but a breaking change is coming up anyway. I think I will remove this `connect-src 'self'` business.

[2016-09-16 15:45] EvanHahn commented on #46
We'll do our discussion in the pull request (#47).

[2016-09-16 15:54] chulander commented on #48
thanks Evan! that would be awesome

[2016-09-16 19:01] EvanHahn commented on #48
@chulander Made a pull request against the 2.0.0 branch. This should be fixed when that goes out!

Could you take a look at #50 to make sure the changes look good?

[2016-09-21 16:00] MathRobin opened #51 "External links doesn't work when running CSP"
up vote
0
down vote
favorite
I meet a surprising problem. If i don't enable my CSP config, no problem, everything works fine. But when I activate CSP, internal links work normally, but external not. On my website, (for example here, https://www.matosmaison.fr/avis/perceuses-visseuses/ryobi-rpd1200k) I have links to amazon, zanox and other similar. These links doesn't work when using CSP.

What is

[2016-09-21 17:23] EvanHahn commented on #51
That's odd. Could you open your developer console and tell me what errors you see?

[2016-09-21 17:37] MathRobin commented on #51
Already tried. No errors at all (i have checked, there is no filter or other thing similar which can hide a message).

[2016-09-21 18:35] EvanHahn commented on #51
What browsers have this problem?

[2016-09-21 21:20] MathRobin commented on #51
Got it on last chrome version (52). Not experimenting it on Firefox 40.

[2016-09-21 21:54] MathRobin commented on #51
Have tried on Chrome 53 too. Same problem.

[2016-09-23 19:58] MathRobin commented on #51
Ok, I have found the "issue". It seems that the problem come from the attributes target of my links. If i don't have any target, no problem. If i have target="_blank", the link doesn't work (wtf?)

[2016-09-23 20:19] MathRobin commented on #51
Ok, I have found the solution. Openning a new "_blank" tab is considered as opening a popup. So in sandbox mode, you can have this message

Blocked opening '[your link]' in a new window because the request was made in a sandboxed frame whose 'allow-popups' permission is not set.

You can reproduce with the simple JS command :

[code]

To fix it, you need to add this part :

[code]

or to complete

[2016-09-23 20:19] #51 closed

[2016-09-23 21:00] EvanHahn commented on #51
Ah, that makes sense.

Feel free to open a new issue if you run into any other problems!

[2016-09-23 21:06] MathRobin commented on #51
I hope I will not.

I have added the value to this site which didn't have this info https://content-security-policy.com/

[2016-09-24 07:48] MathRobin commented on #51
Sorry I didn't realize that "I hope I will not" could be misunderstood.

Your work with helmet is really great, helmet is great too. I just would like to say that if I encountered a new problem which need a ticket, I think I will not be as intelligent as needed to solve it by myself.

Thank you for helmet

[2016-09-24 16:02] EvanHahn commented on #51
Haha, I think I read it the way you meant it.

Thanks for the kind words and for using Helmet!

[2016-10-01 15:30] EvanHahn opened #52 "Add support for require-sri-for"
https://w3c.github.io/webappsec-subresource-integrity/#parse-require-sri-for

[2016-10-28 20:35] #37 closed

[2016-10-28 20:35] #39 closed

[2016-10-28 20:35] #40 closed

[2016-10-28 20:35] #48 closed

[2016-10-31 14:28] muffinresearch commented on #36
@EvanHahn sorry I missed replying to this. Thanks for all the changes!

[2016-10-31 14:37] muffinresearch opened #53 "frame-src being seen as invalid"
The upgrade to 3 is breaking our tests because `frame-src` is seen as invalid.

Would it be possible to relax this to a warning so that `frame-src` continues to work, or only flag it as invalid if a `child-src` directive isn't configured? Or another option?

Ideally we don't want to use `loose: true`.

We still specific frame-src since `child-src` was only implemented in FF45 [1] , we supply both

[2016-10-31 17:54] EvanHahn commented on #53
Totally forgot to add it—thanks for reporting.

Could you give [this `frame-src` branch](https://github.com/helmetjs/csp/pull/54) a try? If that works for you, I'll merge it and release a new version.

[2016-11-02 19:07] muffinresearch commented on #53
@EvanHahn thanks - I've tried the patch locally and it looks good. The only remaining patch I need to make is to update our HSTS max-age settings but that's just a config change.

[2016-11-02 21:43] EvanHahn commented on #53
@muffinresearch Cool! I'll merge and release a new version soon. (Are the HSTS issues on Helmet's end?)

[2016-11-02 22:44] muffinresearch commented on #53
No, it's just the change from milliseconds to seconds. I added a test to check what was sent in the headers and it's caught the change. I knew about it via the changelog anyway so it wasn't unexpected.

[2016-11-03 20:59] #53 closed

[2016-11-03 21:12] EvanHahn commented on #53
Released in `helmet-csp@2.1.0` and `helmet@3.1.0`!

[2016-11-04 16:43] muffinresearch commented on #53
@EvanHahn thanks!

[2016-12-13 08:21] XhmikosR opened #55 "Add support for manifest-src"
Not sure what's your policy is, but `manifest-src` is in Editor's Draft stage and browsers already implement it.

I don't mind setting `loose: true`, just wanted to bring this up.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/manifest-src

[2016-12-13 10:29] EvanHahn commented on #55
Thanks for pointing this out!

[2016-12-22 18:17] #55 closed

[2016-12-29 13:08] XhmikosR opened #57 "Add support for 'strict-dynamic'"

[2016-12-29 17:51] EvanHahn commented on #57
My understanding of [the spec](https://www.w3.org/TR/CSP3/#strict-dynamic-usage) is this: `script-src` and `default-src` (only!) should allow `'strict-dynamic'` to be specified. Is that your understanding?

[2016-12-31 16:47] XhmikosR commented on #57
Yeah, that is my understanding too.

[2016-12-31 21:44] EvanHahn commented on #57
Does this also apply to `style-src`? It seems like not...

[2017-01-01 07:47] XhmikosR commented on #57
Nope, only the 2 sources that are mentioned.

[2017-01-01 17:47] EvanHahn commented on #57
Sounds good. Feel free to open a pull request for this, or I can get to it when I get to it (which might be awhile).

[2017-02-14 01:55] joehenry087 opened #59 "Cannot set styleSrc with self and unsafe-inline"
Using this directive only the self rule gets applied and inline styles still get caught by the browser.

`styleSrc: ["'self'", "'unsafe-inline'"],`

[2017-02-14 02:16] joehenry087 commented on #59
Hm, working now. Maybe something on my end. Will update if it happens again.

[2017-02-14 02:16] #59 closed

[2017-02-14 15:02] EvanHahn commented on #59
Glad you solved it. Feel free to open a new issue if something else comes up!

[2017-03-03 20:28] Reggino opened #60 "Support for worker-src"
When using a service worker, CSP currently can not be configured without using the `loose`-option.

See [https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/worker-src](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/worker-src)

[2017-03-06 15:34] EvanHahn commented on #60
This should now be supported in `helmet-csp@2.4.0`. Please update and give it a try. If it works for you, I'll release it in "mainline" Helmet as `helmet@3.5.0`.

@Reggino Thanks for reporting!

[2017-03-06 15:34] #60 closed

[2017-03-09 17:48] EvanHahn commented on #60
Released this in `helmet@3.5.0`.

[2017-05-16 13:43] idangozlan opened #61 "workerSrc is not working"
my configuration:
[code]

getting error:
[code]

helmet 3.6.0
helmet-csp 2.4.0

[2017-05-16 14:53] EvanHahn commented on #61
How are you creating your worker? And what does the `Content-Security-Policy` header look like in your browser's Network debugger?

[2017-05-17 16:37] idangozlan commented on #61
Actually it's pretty weird, cause in the response headers, I can see the worker-src.
I'm using that for JWPlayer, but it's doesnt really prevent chrome to scream on that.

[2017-05-18 18:59] EvanHahn commented on #61
Could you send the `worker-src` that's being sent through in the `Content-Security-Policy` header? And could you show how you're creating this JWPlayer worker?

I suspect that the problem isn't with Helmet but rather with some CSP thing JWPlayer is doing, but I'm not sure! This library could totally be the culprit.

[2017-06-23 10:12] andreaj8 opened #62 "[ HTTPS 443 ]: Application error message"
**Hi added the CSP Module on my ExpressJS application and a security scan found this:**
I do not know,  it depends on csp ?

[code]

[2017-06-23 15:08] EvanHahn commented on #62
I'm not sure I understand this.

Do you have a `/report-violation` handler?

[2017-06-23 15:17] andreaj8 commented on #62
No, the listening was not enabled but the plugin was configured to send the violation.
(The "application / csp-report" parser was not sette but in theory not being declared / report-violation Express should not parse it)

This is the result of a PEN test but I can not figure out how to regenerate it to better understand what the problem is.

So this message: "Pattern found: SyntaxError: Unexpected

[2017-06-23 15:21] EvanHahn commented on #62
Could you show me what your call to `csp` is? What directives are you using?

I'd also be curious to see a small app that can reproduce this behavior.

[2017-06-23 15:37] andreaj8 commented on #62
yes, thanks
I'm also curious because it's strange XD
[code]

[2017-06-23 15:51] EvanHahn commented on #61
Any updates on this?

[2017-06-23 15:53] EvanHahn commented on #62
Are you able to reproduce this issue on a simple Express app that just uses this CSP middleware?

[2017-06-26 11:01] andreaj8 commented on #62
Yes,

You can find it here : [demo](https://demo-csp.eu-de.mybluemix.net)

[2017-06-26 15:53] EvanHahn commented on #61
@idangozlan Closing this due to inactivity. Let me know if you want me to reopen.

[2017-06-26 15:53] #61 closed

[2017-06-26 15:54] EvanHahn commented on #46
Closing along with the PR.

[2017-06-26 15:54] #46 closed

[2017-06-26 15:58] EvanHahn commented on #62
Could you also publish the source code for this app? If any of this is sensitive, feel free to email me at me@evanhahn.com.

[2017-06-27 09:38] andreaj8 commented on #62
This is the demo app code:

[code]

[2017-06-27 14:54] EvanHahn commented on #62
This line looked a little suspect to me:

[code]

That might make sense given the `Host`-related error you're seeing. Could you try removing that line and seeing if your scanner still gives the same issue?

[2017-07-21 14:47] EvanHahn opened #63 "Add support for report-to"
See <https://www.w3.org/TR/CSP/#directive-report-to> and <https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP#Browser_compatibility>.

Originally reported in [helmet#156](https://github.com/helmetjs/helmet/issues/156).

[2017-07-21 16:18] EvanHahn commented on #63
@selfagency This has been released in `helmet-csp@2.5.0` and `helmet@3.7.0`.

[2017-07-21 16:18] #63 closed

[2017-07-21 16:28] selfagency commented on #63
Thanks

[2017-07-21 21:19] EvanHahn commented on #62
@andreaj8 Any updates here? I'll close this issue sometime next month unless I hear back—trying to clear the issues out.

[2017-07-26 07:46] andreasvirkus opened #64 "Style and script directives not applied"
Hello. I read from Gitter that it'd be better if I opened up an issue on Github, so here I go.
The way I've set up helmet/csp currently:
[code]
And then the errors I get with it lead me to believe most of these directives haven't registered properly:

[2017-07-26 09:00] ischyron opened #65 "report-to should be optional"
it throws an error on console at the moment.
Some like to keep the console less noisy and clean so that any exception csp or otherwise  is made obvious.

[2017-07-26 14:55] EvanHahn commented on #65
I'll take a look at this soon—I'm on a day off today.

In the meantime, if you could post a code snippet and the warning you're seeing, that'd be helpful.

[2017-07-26 14:58] EvanHahn commented on #64
That is odd. Your code looks correct at a glance.

Could you open the Network tab in your web inspector and see what the full header value is?

(I may be slow to respond because I'm taking a day off today—apologies.)

[2017-07-27 11:39] Pavek commented on #65
Here's the warning on Chrome 60:
[code]

I don't have any special config, so I guess it is caused by this:
[code]

[2017-07-27 15:41] andreasvirkus commented on #64
It seemed that the `frameSrc` directive was buggy and causing other stuff to break that. Or at least that's what I concluded, since removing it automagically fixed everything else for me. Sorry for bothering and thanks for `helmet`! 💯

[2017-07-27 15:41] #64 closed

[2017-07-27 16:05] EvanHahn commented on #64
👍 Glad it worked out! Feel free to open a new issue if anything else comes up.

[2017-07-27 20:02] EvanHahn commented on #65
This is some [newly-released](https://github.com/helmetjs/helmet/blob/master/HISTORY.md#370--2017-07-21) behavior that might be wrong. `report-uri` is soon to be deprecated in favor of `report-to`, so I made this module set both directives.

I may have done this too soon, however, because [no browsers currently support `report-to`](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP#Browser_comp

[2017-07-28 14:17] Pavek commented on #65
Sounds reasonable. Thanks!

[2017-07-28 17:28] EvanHahn commented on #65
This should be fixed in `helmet-csp@2.5.1` and `helmet@3.8.1`.

[2017-07-28 17:28] #65 closed

[2017-07-29 13:30] ischyron commented on #65
Thanks!

[2017-08-11 17:32] EvanHahn commented on #62
I'm going to close this issue due to inactivity. Feel free to comment or reopen if you have any other issues!

[2017-08-11 17:32] #62 closed

[2017-08-18 00:42] alsmola commented on #63
I'm getting a `Unrecognized Content-Security-Policy directive 'report-to'.` console error in Chrome 60.0.3112.101. Seems like this isn't supported yet?

[2017-08-18 01:52] EvanHahn commented on #63
Yes. This isn't supported by browsers yet, I don't believe.

[2017-08-18 07:07] selfagency commented on #63
Canary does I believe

[2017-08-18 17:19] alsmola commented on #63
FYI in the interest of keeping a clean console I pinned helmet versions, not sure if it bothers others.

[2017-10-13 01:23] westdabestdb opened #66 "Module not found error"
![errors](https://user-images.githubusercontent.com/27975493/31526246-998160a8-af93-11e7-8fa6-45b5babd661d.png)

[2017-10-13 02:45] EvanHahn commented on #66
Hmm, that's odd. Could I see the part of `server.ts` that uses this module?

[2017-10-13 15:39] EvanHahn commented on #52
Released in `helmet-csp@2.6.0`.

[2017-10-13 15:39] #52 closed

[2017-10-13 15:43] EvanHahn commented on #57
This has been released in `helmet-csp@2.6.0` and `helmet@3.9.0`. Sorry to take so long!

[2017-10-13 15:43] #57 closed

[2017-10-13 15:43] XhmikosR commented on #57
Thanks @EvanHahn!

[2017-10-13 17:51] westdabestdb commented on #66
Sure, I use angular universal.
![s1](https://user-images.githubusercontent.com/27975493/31559093-703970a2-b01d-11e7-9387-77b854122627.PNG)
![s2](https://user-images.githubusercontent.com/27975493/31559095-705aedc2-b01d-11e7-913c-64c313529a73.PNG)

[2017-10-13 17:58] EvanHahn commented on #66
Is this error coming from your Node server or from Webpack? If Webpack, what version of Webpack are you using?

[2017-10-13 18:26] westdabestdb commented on #66
I use angular cli, not custom webpack and my package.json contains those

    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "build:client-and-server-bundles": "ng build --prod && ng build --prod --app 1 --output-hashing=false",
    "build:static": "npm run build:client-and-server-bundles && npm run webpack:server && npm run generate:static",
    "build:dynamic": "npm run build:

[2017-10-13 18:27] westdabestdb commented on #66
I use angular cli version of angular universal, not custom webpack version

[2017-10-13 18:31] EvanHahn commented on #66
I'm not familiar with Angular at all. Does it use Webpack under the hood? If so, is it using Webpack to compile your file?

[2017-10-13 18:32] westdabestdb commented on #66
yes it does

On Fri, Oct 13, 2017 at 2:31 PM, Evan Hahn <notifications@github.com> wrote:

[2017-10-13 18:35] EvanHahn commented on #66
What version of Webpack does it use? Running `npm ls webpack` in your project should give you a version.

[2017-10-13 18:36] westdabestdb commented on #66
oh, it uses webpack@3.6.0

On Fri, Oct 13, 2017 at 2:35 PM, Evan Hahn <notifications@github.com> wrote:

[2017-10-13 18:58] EvanHahn commented on #66
Okay, my theory was incorrect. Does this happen with a "vanilla" Node server?

[2017-10-13 20:37] westdabestdb commented on #66
yes

[2017-10-13 21:53] EvanHahn commented on #66
Does it happen when you run this at the command line?

[code]

[2017-10-30 20:20] selfagency opened #67 "add support for base-uri"
it's in csp2 and mozilla's observer is using it to judge the security of sites

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/base-uri

[2017-10-30 20:25] EvanHahn commented on #67
I believe `base-uri` is already supported, though not properly documented. Does something like this work for you?

[code]

[2017-12-04 18:37] wolfgang42 commented on #67
I had the same confusion; `baseUri` works fine but I had to take a guess that it might work since it's not documented.

[2017-12-04 18:57] EvanHahn commented on #67
Good point. I'll document this (unless someone else wants to submit a pull request before I get to it).

[2017-12-04 19:10] EvanHahn commented on #67
Documented in e0265b0628e6985ea6742d0befa065504a493f6e and on the [docs site](https://helmetjs.github.io/docs/csp/).

[2017-12-04 19:10] #67 closed

[2017-12-04 19:13] wolfgang42 commented on #67
Thanks, that's much better!

[2017-12-04 19:15] EvanHahn commented on #67
@wolfgang42 thanks for prodding me, and thanks to @selfagency for reporting the issue!

[2017-12-13 09:22] AndreaPivetta commented on #66
Did you find a solution?

[2017-12-20 16:12] EvanHahn commented on #66
@westdabestdb @AndreaPivetta Has this issue been resolved? If so, I'll close the issue.

[2018-01-09 15:10] #66 closed

[2018-01-11 19:24] t47io commented on #36
Hi, I'm using the latest version of the lib (`helmet` 3.9.0 and `helmet-csp` 2.6.0) but when I do this:
[code]
I still see `upgrade-insecure-requests` being set in the header.

[2018-01-11 20:09] EvanHahn commented on #36
@t47io Did some quick investigation—this still seems like a bug in Helmet. It might be a few weeks before I can get to this. In the meantime, you'll have to remove the key. Here's an example:

[code]

[2018-01-12 02:10] t47io commented on #36
@EvanHahn So I tracked down the issue. The `directives` are passed as is (i.e. containing a k/v of `upgradeInsecureRequests: false`) from `helmet` to `helmet-csp` to `content-security-policy-builder`. At this line (https://github.com/helmetjs/content-security-policy-builder/blob/master/index.js#L26), it adds the directive 'upgrade-insecure-requests` to the return string.

Two possible approaches t

[2018-01-12 02:22] t47io commented on #36
I'd prefer approach 1 since it's a lower-level fix for all. One discussion would be whether to restrict the falsy checking to `value === false`, but I wonder how often do we see directives with (mistaken / misconfigured) values of e.g. `undefined` and `null`.

[2018-01-12 09:18] oayres opened #68 "Reading JSON config without extension"
This module is reading the `config.json` file without its extension, which means in some module bundlers it will break.

Since this is a widely used module, I feel we should be explicit about requiring a file that's not JavaScript, to avoid any bundling errors.

This means changing the require for the config to `require('./lib/config.json')`.

Thoughts?

[2018-01-12 18:47] EvanHahn commented on #68
I'm happy to do this but I want to make sure I understand the use case. Are you using a module bundler in Node?

[2018-01-13 11:02] oayres commented on #68
@EvanHahn Yep. I'm bundling my express server (including all node modules) with a new bundler called Fusebox, which isn't able to auto resolve non-JS extensions like Webpack (at least right now). Luckily, this is the only case where a node module is requiring a non-js file without the extension, so if we could get it tweaked to explicitly require the JSON, that'd be ace!

[2018-01-13 15:58] EvanHahn commented on #68
Okay. May I ask why you're bundling your server-side code? Is it because you're using TypeScript or another compile-to-JavaScript language?

[2018-01-13 19:27] oayres commented on #68
The main reason we bundle that is to keep things cleaner for us. We prefer having a single minified server file that gets promoted up our environments, as opposed to hundreds of runtime dependencies alongside our server file(s).

We do write it in ES7+ too, so it needs to go through Babel etc in addition to being bundled.

[2018-01-14 15:33] EvanHahn commented on #68
That makes sense—thanks for the explanation. I think I'd slightly prefer to change it from `config.json` to `config.js` because I've had some frontend module bundlers complain about requiring JSON files and I'm superstitious now.

I won't be able to do this for a little while but I'll get to it in the next couple of weeks.

[2018-01-14 15:40] oayres commented on #68
No problem. Sounds great, thanks! If it helps speed things up, I could make a PR switching the JSON to a JS file exporting the object?

[2018-01-14 22:37] EvanHahn commented on #68
Sure, that'd be great!

[2018-01-23 11:24] Kiechlus opened #69 "Support upcoming prefetch-src directive"
https://w3c.github.io/webappsec-csp/#directive-prefetch-src
https://bugs.chromium.org/p/chromium/issues/detail?id=801561
https://github.com/w3c/webappsec-csp/issues/107

[2018-01-23 15:34] EvanHahn commented on #69
Thanks for reporting this! I'll get to it in the next couple of weeks.

If someone wants to beat me to it and make a pull request, I think the place to look is in [`config.json`](https://github.com/helmetjs/csp/blob/master/lib/config.json) (might be called `config.js` if [this other issue is done](https://github.com/helmetjs/csp/issues/68)). Adding a key to the directives list like `"prefix-src":

[2018-01-23 16:35] EvanHahn commented on #36
Working on this now.

[2018-01-23 16:52] #36 closed

[2018-01-23 16:52] #68 closed

[2018-01-23 16:52] #69 closed

[2018-01-23 17:02] EvanHahn commented on #69
This has been released in `helmet-csp@2.7.0` and `helmet@3.10.0`. Thanks for reporting!

[2018-01-23 17:02] EvanHahn commented on #36
This has been released in `helmet-csp@2.7.0` and `helmet@3.10.0`. Sorry for the bug!

[2018-01-23 17:02] EvanHahn commented on #68
This has been released in `helmet-csp@2.7.0` and `helmet@3.10.0`. Hope it helps!

[2018-01-24 14:05] oayres commented on #68
Thanks @EvanHahn - that's great. Sorry I didn't get a chance to submit a PR to help out!

[2018-01-24 15:34] EvanHahn commented on #68
No worries at all! Thanks for reporting.

[2018-03-12 20:24] EvanHahn opened #70 "Add support for navigate-to directive"
See https://github.com/twitter/secureheaders/issues/387.

[2018-07-21 16:49] EvanHahn opened #72 "Use ES2015 in README"

[2018-09-24 14:04] EvanHahn opened #73 "Duplicate keys should error"
This should be invalid:

[code]

This is a breaking change, so we'll need to do it in Helmet 4.

[2018-10-05 15:07] #72 closed

[2019-01-14 05:42] hktalent opened #74 "how to choose? With helmet or helmet-csp? It's all yours, I don't know which one to choose?"
how to choose? With helmet or helmet-csp? It's all yours, I don't know which one to choose?

[2019-01-14 16:03] EvanHahn commented on #74
The `helmet` package is a collection of 14 smaller packages (as [you can see in its package.json](https://github.com/helmetjs/helmet/blob/master/package.json#L30-L43)) including `helmet-csp`.

If you want all of the modules or want to use Helmet's defaults, then you can use the `helmet` package. If you just want one of the pieces of middleware, you can use `helmet-csp`.

Does that answer your ques

[2019-01-14 17:03] #74 closed

[2019-01-14 17:03] hktalent commented on #74
thanks @EvanHahn

[2019-02-04 19:20] joedski opened #75 "Cannot Use Function Instead of Array as Value of Directive"
I would like to be able to dynamically determine the whole set of values of a directive instead of only dynamically determining specific values within that set, in cases where I may want to include 0 or multiple additional such values.

[This appears to be supported in `parse-dynamic-directive`](https://github.com/helmetjs/csp/blob/master/lib/parse-dynamic-directives.js#L17), but is [disallowed by

[2019-02-04 22:45] EvanHahn commented on #75
I think what you're saying makes sense, and I have some regrets about adding _any_ conditional support at all.

Conditional behavior is one of Helmet's biggest issues (this issue, #19, https://github.com/helmetjs/nocache/issues/15, https://github.com/helmetjs/helmet/issues/163, https://github.com/helmetjs/helmet/issues/162, https://github.com/helmetjs/frameguard/issues/12, https://github.com/helme

[2019-02-08 18:54] joedski commented on #75
Hmmm.  Looking at what's happening in those linked issues, it looks like my best bet might be to just instantiate the middleware per request.  My specific case was for integrating with Webpack Dev Server and keeping CSP directives tight even then, admittedly kind of an extreme case.

Expanding on that, since the CSP middleware is stateless and cheap to construct, perhaps my issue/request should be

[2019-02-28 03:12] futurist opened #76 "safari will ignore whole rule"
In safari 12.0.2,  the below error thrown:

[code]

The reason is `script-src` contains `'report-sample'`, which is not supported in safari.

the `browserSinff` options should consider this situation

[2019-03-01 15:42] EvanHahn commented on #76
Thanks for reporting—I'll take a look at this.

[2019-03-03 01:02] futurist commented on #76
Oh, this issue is not valid, safari just drop `'report-sample'` rule, others rules works as normal.

[2019-03-04 20:13] EvanHahn commented on #76
Okay. In that case, would you mind closing the issue?

(Also happy to discuss this further if it's a problem.)

[2019-03-06 05:27] #76 closed

[2019-03-06 14:03] EvanHahn commented on #76
Thanks! Feel free to open a new issue if you run into trouble.

[2019-03-10 18:33] EvanHahn opened #77 "Convert module to TypeScript"
See [the Helmet-wide TypeScript project](https://github.com/orgs/helmetjs/projects/2).

[2019-03-23 18:41] EvanHahn commented on #75
Currently, this module basically does two things:

1. on setup, validate options and throw an error if you've made a mistake
2. when a request comes in, combine your options with browser support information (the `browserSniff` option) to construct a header with [`content-security-policy-builder`](https://github.com/helmetjs/content-security-policy-builder), and set it

For now, if you want to do d

[2019-03-23 18:41] EvanHahn commented on #75
(PS: Apologies for taking so long to respond!)

[2019-04-02 23:05] joedski commented on #75
Thanks for the response, and no problem!

On the one hand, that does sound like just writing a thin wrapper around `content-security-policy-builder` for any custom behavior would work well.  Then, that would turn customization into possibly a documentation issue that just points people towards a mode of doing custom conditional stuff that fits with the over all approach you're trying to take with

[2019-04-03 08:14] sericaia opened #78 "reportTo directive"
`report-to` directive is set with [`reportUri` directive validation](https://github.com/helmetjs/csp/blob/master/lib/config.js#L31), which is kind of incorrect (report-uri needs a uri, report-to needs a group name).

Looking at [reportUri directive validation definition](https://github.com/helmetjs/csp/blob/master/lib/check-options/check-directive/report-uri.js) it is just a non-empty string. This

[2019-04-05 14:40] EvanHahn commented on #78
That's true—I think I misunderstood this directive when I originally implemented it.

I think the correct behavior should be:

1. `report-uri` should require a non-empty string
2. `report-to` should require a non-empty string but should also set the `Report-To` header

Does that sound right?

[2019-04-08 22:32] rfossella commented on #75
Have there been any updates w/respect to allowing more than one domain using frameguard?  Saw other posts similar to this and same question but still am struggling w/this?  Any ideas appreciated!

e.g. - all pointing to the same app under different environments
[code]

[2019-04-14 16:28] EvanHahn commented on #75
@joedski Because we do a fair bit of checking, the middleware isn't as cheap to construct conditionally as I'd like. I haven't profiled it and I don't expect it to be too bad, but I could see it taking a little longer than someone might like.

Thanks for your thoughts here. I'll think more about this before releasing a good solution.

---

@rfossella In short, you should use the `frame-ancestors`

[2019-05-10 05:16] knoxcard commented on #73
I agree, this is easy code to write and I found myself doing this a bunch of times.

[2019-05-10 09:55] jmtaillant opened #80 "Upgrade dependency for platorm to version > 1.3.5"
Platform.js HTTP User-Agent Header Parsing Regular Expression Handling Remote DoS
Description
Platform.js contains a flaw that is triggered when parsing HTTP User-Agent headers using regular expressions. This may allow a remote attacker to slow down a node process using the library.

Versions
0.4.0 ≤ Version ≤ 1.3.5

[2019-05-10 15:01] EvanHahn commented on #80
I'm not seeing this warning when I run `npm audit`—where are you seeing this?. It also looks like 1.3.5 is the latest version of platform, so it hasn't been fixed.

[2019-05-10 15:05] jmtaillant commented on #80
I see it into our XRay analysis.

Ticket has been opened
https://github.com/bestiejs/platform.js/issues/161

And as I see, it is not yet …

From: Evan Hahn <notifications@github.com>
Reply-To: helmetjs/csp <reply@reply.github.com>
Date: Friday 10 May 2019 at 17:01
To: helmetjs/csp <csp@noreply.github.com>
Cc: "mail=Jean-Marc. com" <jean-marc.taillant@genesys.com>, Author <author@noreply.github.com

[2019-05-10 15:14] EvanHahn commented on #80
Just watched that issue.

For now, you can use `browserSniff: false` option to disable `csp`'s usage of `platform`. I'll be doing a release in a little while that removes browser sniffing, but that'll be a breaking change.

[2019-05-24 10:28] Ks89 opened #81 "How to add a specific sha256 to scriptSrc?"
Hi @EvanHahn,
is there a way to add a sha256 to the scriptSrc property?
It seems exactly like this very old issue #64

My problem is that I need to add a script inline to intercept IE11, but I don't want to add unsafe-inline only to support this. I want to whitelist only that specific script adding "sha256-gBBbstBOmWIKAHyZHngCHf1P4f4FRNTcdpjw9Xgrqdw=".

Do you have suggestions?

[2019-05-24 12:54] EvanHahn commented on #81
Does something like this work?

[code]

[2019-05-24 19:30] Ks89 commented on #81
Thanks,
I'll try next Monday and I'll update/close the issue.

[2019-05-27 08:27] Ks89 commented on #81
It worked, thank u.

[2019-05-27 08:27] #81 closed

[2019-05-27 23:46] EvanHahn commented on #81
Great!

As always, feel free to open a new issue if you have other questions or problems.

[2019-05-29 12:38] EvanHahn opened #82 "'unsafe-inline' should be allowed in style-src and connect-src"
MDN says that `style-src` and `connect-src` support `'unsafe-inline'`, among others. As part of this work, we should:

1. Verify that MDN is correct
1. Add new directive values to this module

See the original issue, <https://github.com/helmetjs/helmet/issues/187>.

[2019-05-30 20:00] webuniverseio opened #83 "Issue due to extra x-content-security-policy, x-webkit-csp headers"
Hi, as I mentioned in https://github.com/helmetjs/helmet/issues/110 there can be an issue when custom user-agent is set, when the size of CSP header is quite large, and it is being repeated 3 times in can cause 502 errors in [Akamai](https://community.akamai.com/customers/s/question/0D50f00005RtpqGCAR/ending-up-with-bad-request-when-posted-with-long-urls-header-vs-uri-limit-extension?language=en_U

[2019-05-31 13:00] webuniverseio commented on #83
Actually, I realized something. The only case when helmet-csp will return all 3 headers is when user-agent is unknown. So I think I can pretty safely check when all 3 are set and remove deprecated headers. This will give me what I need without a change in helmet-csp and if in future this behavior change. To be extra careful, (in case you remove x-webkit-csp and leave x-content-security-policy for

[2019-05-31 13:00] #83 closed

[2019-05-31 17:40] EvanHahn commented on #83
The `setAllHeaders` option is a little confusing. If it helps, I'm considering removing all browser sniffing in the next major version, which will completely sidestep this issue.

[2019-05-31 23:52] EvanHahn commented on #83
Good to know! I'll keep that in mind as I think about the next version.

[2019-07-09 05:14] evdama opened #84 "Add support for script-src-elem directive"
now that `script-src-elem` is a [thing with CSPv3](https://w3c.github.io/webappsec-csp/#directive-script-src-elem), can we use it with express already? Can I do something like

[code]

ie using `scriptSrcElem` instead of `scriptSrc`?

[2019-08-26 08:48] danieldanielecki opened #93 "Header report-uri deprecated"
According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-uri this header is deprecated, thus it would be a good idea to deprecate it in Helmet too.

[2019-08-26 08:49] danieldanielecki opened #92 "Header require-sri-for deprecated"
According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/require-sri-for this header is obsolete, +1 for removing this from Helmet.

[2019-09-20 22:19] markmcdowell opened #89 "Unable to use with Webpack when targeting Node"
Hello! I see you've just updated to Bowser 2.5.1 and we now hit this bug:

https://github.com/lancedikson/bowser/issues/339

Could you bump again to 2.5.2?

Thanks!

[2019-09-20 22:21] markmcdowell commented on #89
Sorry same bug different version, I'll check it with Bowser. Actually 2.6.1

[2019-09-20 22:22] EvanHahn commented on #89
What error are you seeing in this package?

[2019-09-20 22:23] markmcdowell commented on #89
[code]

[2019-09-20 23:00] markmcdowell commented on #89
I'll raise an issue with Bowser, for a quick fix i've moved Bowser back to 2.5.4 locally and all is working again.

[2019-09-21 16:44] EvanHahn commented on #89
Could you post a code snippet that reproduces this? I'm not able to replicate the issue myself.

[2019-09-21 20:54] markmcdowell commented on #89
It's because we use a bundler, webpack in this case. This change https://github.com/lancedikson/bowser/blob/bc2d51a8f9a715d91b715214ee0c19b1ca3f3838/package.json#L25 in bowser causes the imports to be incorrect.

[2019-09-21 21:05] EvanHahn commented on #89
Ah, interesting—I take it you're doing some bundling on the Node side, then?

Could you share that setup (unless you're confident that this is a Bowser issue)?

[2019-09-25 21:59] esprehn opened #90 "TypeScript typings are broken"
The npm package contains an index.d.ts file that contains:

[code]

But the types.d.ts file isn't bundled only a js file which means consumers of the package have their build fail:

[code]

[2019-09-26 14:54] EvanHahn commented on #90
Ah, this looks like a bug. I'll try to get to fixing this soon, but if you (or anyone else reading) can make a pull request sooner, that'd be great.

[2019-10-01 03:48] EvanHahn commented on #90
Could you try upgrading to `helmet-csp@2.9.3` to see if this fixes your issue?

[2019-10-07 18:19] barnesdc commented on #89
[code]

[2019-10-07 18:29] EvanHahn commented on #89
This appears to be happening because you're using Webpack for your Node server. Is that correct?

If so, do you think that's something Helmet should be concerning itself with? To my eye, that's arguably an issue with a nonstandard build setup, which I'm hesitant to support. What do you think?

In any case, it seems like it's a downstream issue with Bowser, but let me know if that's wrong.

[2019-10-15 08:05] gunnarvelle commented on #89
This will affect everyone using helmet and webpack, targeting node environments.

Downgrading helmet to 4.20.0, helmet-csp to 2.8.0 and removing bowser from yarn.lock fixed this for us for now.

[2019-10-19 06:15] EvanHahn commented on #92
At a glance, `require-sri-for` doesn’t look deprecated. Could you find a source that suggests that it is?

(I haven’t dug into this thoroughly, so maybe I’m missing something obvious.)

[2019-10-21 14:29] EvanHahn commented on #93
I'm planning on removing browser sniffing from `helmet@4` and `helmet-csp@3`. If I do that, the only way to support older browsers will be to use `report-uri`. I'll also want to make some other directive (likely `report-to`) "fills in" `report-uri`.

I don't intend to remove it, so I'm going to close this issue. However, I'll keep this in mind as I document which directives are supported.

[2019-10-21 14:29] #93 closed

[2019-10-21 15:16] EvanHahn commented on #89
It looks like Bowser is now at version 2.7.0.

I plan to upgrade this module, but if you'd like to submit a pull request sooner, I'd appreciate it.

[2019-10-21 15:57] barnesdc commented on #89
#94 PR submitted

[2019-10-21 17:26] danieldanielecki commented on #92
I'm going to close it, because I can't find it as well. Maybe the documentation changed during that time, honestly don't know...

[2019-10-21 20:23] EvanHahn commented on #89
I've updated to the latest version of `bowser` in `helmet-csp@2.9.4` and `helmet@3.21.2` (thanks @barnesdc!).

Does this fix anyone's issues?

[2019-10-24 21:09] sericaia commented on #78
Sorry for the delay.

Yes, `report-to` has the non-empty string of the name of the group defined in the `Report-to` header. You can find and example [here](https://gist.github.com/sericaia/8bda23c2adcefadc94b545d1544fb64f#file-index-js) and a full explanation of the differences in [this blogpost](https://medium.com/yld-blog/security-trivia-series-understanding-csps-reporting-68d885596686)

[2019-10-25 13:32] elvismercado commented on #89
I recently update helmet from 3.19.0 to 3.21.2 due to a recommendatiopn of npm audit.
After doing this i have experience the axact same behaviour and error.

I have seen this happening before with webpack and redis  npm package.
To solve this I configured redis as external commonjs package.

Doing this with helmet also avoids the TypeError and you can continue your work.

Here is an example webpac

[2019-10-27 18:14] EvanHahn commented on #89
I've renamed this because it seems like this is an issue with Webpack. Lemme know if that's wrong.

It also seems like there's a fix (thanks @elvismercado), which is good for now.

[2019-10-30 15:12] EvanHahn commented on #78
Thanks! I'm working on some more substantial changes to this module and will try to incorporate this.

[2019-11-08 02:35] patrickmichalina commented on #89
The bundle I am using has this issue as well. A quick fix was to change the `package.json` pointer.
[code]

Having the bundler point to `es5.js` fixed it right up. For some reason the module path is not working.

[2019-12-09 21:51] sfuerte opened #95 "res.setHeader is not a function"
Getting the following error when `browserSniff` is true:

[code]

and at another line with `sniff` is off:
[code]

`"helmet-csp": "^2.9.4"`

[2019-12-09 22:37] EvanHahn commented on #95
That's unexpected.

Could you include a code snippet that reproduces this problem?

[2019-12-09 22:43] sfuerte commented on #95
Sure.

[code]

[2019-12-09 22:48] sfuerte commented on #95
all dependencies are the latest as of today
![image](https://user-images.githubusercontent.com/16941995/70479768-4d752f80-1a9b-11ea-9c14-0c9a22ec9e4d.png)

[2019-12-09 23:31] EvanHahn commented on #95
It looks like you're using Koa which this module does not support. Could you achieve the same thing with `koa-helmet`?

[2019-12-10 17:25] sfuerte commented on #95
Sure, will do that. Thanks

[2019-12-10 17:25] #95 closed

[2019-12-26 21:27] darinrogers opened #96 "Bowser.getParser is not a function"
I just started seeing this error today:
`TypeError: Bowser.getParser is not a function
    at csp (node_modules/helmet-csp/dist/index.js:32:34)
    at Layer.handle [as handle_request] (node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (node_modules/express/lib/router/index.js:317:13)
    at node_modules/express/lib/router/index.js:284:7
    at Function.process_params (node_modules/

[2019-12-28 22:53] EvanHahn commented on #96
Thanks for reporting. I'll take a look at this.

[2020-01-04 17:02] EvanHahn commented on #96
I'm not able to reproduce this. Could you put together a sample app that reproduces this problem?

Here's a simple app that I made that seems to work just fine:

[code]

This uses `helmet-csp@2.9.4` and `bowser@2.8.1`.

[2020-01-05 21:06] EvanHahn commented on #90
I believe I've fixed this so I'm closing the issue. Let me know if that's wrong, and I can reopen!

[2020-01-05 21:06] #90 closed

[2020-01-09 13:26] EvanHahn opened #97 "Remove browser sniffing"
I plan to remove browser sniffing from the next major version of `helmet-csp`.

Different browsers have different support for Content Security Policies. Some only support certain directives, where some have different headers (like `X-Webkit-CSP`). Currently, this module sniffs the browser's `User-Agent` to figure out what headers to set. However, I'm planning to remove this from the next major ver

[2020-01-09 13:27] EvanHahn commented on #96
I'm planning on removing browser sniffing from the next major version of Helmet, which will get rid of this problem. If you have thoughts about that, please comment in #97.

[2020-01-10 10:05] danieldanielecki commented on #92
@EvanHahn, today in the docs I could see this is (again?) marked as obsolete.

![image](https://user-images.githubusercontent.com/12736263/72144581-f368d200-3398-11ea-94ae-042c54dc10a6.png)

[2020-01-11 18:26] EvanHahn commented on #92
We could remove it, but if someone wants to use it (to support old browsers, for example), they won't be able to. However, I don't want to encourage something deprecated.

I'll plan to update this in the documentation but continue to allow this in Helmet. Let me know if you think this is a mistake.

[2020-01-12 06:30] psyraxaus commented on #84
I have requested a PR for this directive
https://github.com/helmetjs/csp/pull/98

[2020-01-12 22:11] XhmikosR commented on #97
I think it's fine to do this in a major version bump. Which browsers still need the old header exactly? On the other hand having it disabled by default, does it slow down things still?

[2020-01-13 04:16] EvanHahn commented on #97
Browsers have [varying support for CSP](https://www.caniuse.com/#feat=contentsecuritypolicy). Some use different headers (like `X-WebKit-CSP` instead of `Content-Security-Policy`) where others have different names for directives (like `allow` instead of `default-src`). This module currently tries to figure those things out, but I intend to remove them unless people think doing so is a bad idea.

[2020-01-13 19:23] Ry7n commented on #97
Definitely 👍. We've been running with browser sniffing off since #32 landed -- my biggest concern at that time was the cacheability of browser-sniffed requests.

[2020-01-13 19:24] XhmikosR commented on #97
TBH I too have browser sniffing off for years.

[2020-01-16 08:50] danieldanielecki commented on #92
@EvanHahn well the documentation literally says simply to avoid it, but "may still work in some browsers". Therefore it looks like it'll be a good decision to keep it for now. In my opinion you could have it in a couple of years roadmap to drop this in the future when it'll be finally deprecated. I'm going to close the issue then.

[2020-01-16 08:50] #92 closed

[2020-01-18 20:27] webuniverseio commented on #97
👍 I had to turn off browser sniffing too and reasons for removal make sense.

[2020-01-20 16:39] mschipperheyn commented on #96
I recommend adding a try catch on csp functions as well. I had to console.log the node_modules package to encounter this issue

[2020-01-20 16:50] mschipperheyn commented on #96
My guess is that the issue occurs because of the way the package is distributed. I use babel transpilation on the server side and this has created issues before. And the main key on the bowser package is the es5.js entry.

[2020-02-03 19:17] rdodev opened #99 "object-src directive checker error"
Folks,

I'm unable to use the `object-src` with `"'unsafe-inline'"` value even though it's acceptable as per spec https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/object-src directive checker crashes saying "Error: "'unsafe-inline'" does not make sense in object-src. Remove it."

[2020-02-04 14:59] EvanHahn commented on #99
I _think_ that the documentation on MDN is wrong (but I'm not sure). For example, it lists `'unsafe-eval'`, which I don't think makes sense for objects. But maybe it does!

What's the use case for using `'unsafe-inline'` with an `object-src`?

[2020-02-07 18:34] webuniverseio commented on #70
👍 this is very useful in order to protect against leaks via XSS

[2020-02-11 15:52] EvanHahn commented on #70
I'm a bit busy this month and won't be able to add it now. I'll hopefully be able to add this by the end of March.

If someone wants to take a stab at a pull request before then, I'm happy to give it a review.

[2020-02-11 15:56] webuniverseio commented on #70
Thanks for you reply, I just wanted to add my +1, but I think you can hold on for longer on that feature, since it is not supported by any browser ATM: https://caniuse.com/#feat=mdn-http_headers_csp_content-security-policy_navigate-to

![image](https://user-images.githubusercontent.com/911388/74253536-303c2780-4cbd-11ea-9138-822834b78289.png)

[2020-02-22 12:00] dagda1 commented on #96
I am getting this in the latest version and I believe it is this line of code:

`import * as bowser from 'bowser';`

You have a star import and `esModuleInterop` in the `tsconfig.json` set to true which negates the need for start imports.

I have created #101 as a fix.

[2020-02-23 03:33] EvanHahn commented on #96
Thanks to @dagda1 in #101, this should now be fixed in `helmet-csp@2.9.5`. Please let me know if you run into any other issues.

Unless something is wrong, I'll plan to add this to a new version of "mainline" `helmet` in two or three days.

[2020-02-23 03:33] #96 closed

[2020-02-23 13:56] EvanHahn commented on #70
I've added a reminder for myself to check this again on March 23. For now, I'm doing nothing.

[2020-02-23 14:15] EvanHahn commented on #99
I haven't heard back in a couple of weeks so I'm going to close this issue. Please let me know if you want me to reopen!

[2020-02-23 14:15] #99 closed

[2020-02-24 23:28] EvanHahn commented on #96
This should be fixed in `helmet@3.21.3`. Please let me know if you run into any issues!

[2020-02-24 23:49] EvanHahn commented on #89
I believe this is fixed in `helmet-csp@2.9.5` and `helmet@3.21.3`. Could someone test and let me know if they run into any issues?

[2020-02-24 23:49] #89 closed

[2020-03-04 13:07] etienne-bondot commented on #96
I had the same issue with `helmet@3.15.1`, fixed with `helmet@3.21.3` as @EvanHahn said. Thanks :)

[2020-03-25 17:01] EvanHahn commented on #70
Looks like this is still unsupported. Lemme know when I should re-check.

[2020-03-27 22:33] Cherry opened #104 "Add support for trusted-types"
Reference: https://github.com/w3c/webappsec-trusted-types
Spec: https://w3c.github.io/webappsec-trusted-types/dist/spec/
MDN: https://developer.mozilla.org/es/docs/Web/HTTP/Headers/Content-Security-Policy/trusted-types
Web.dev post: https://web.dev/trusted-types/

The first browser to support this will be Chrome 83.

[2020-03-28 19:44] EvanHahn commented on #104
Thanks for sending! Would you mind letting me know when this is supported in Chrome? After that, we can get to adding it.

[2020-03-31 07:49] emilmuller opened #105 "No CSP headers for iOS WebViews"
When visiting a page through an iOS WebView, no CSP headers are emitted.

One can e.g. open the Facebook or LinkedIn app on iOS and click on any link, which will cause a WebView to appear. If the URL being visited uses this package, no CSP headers will be emitted.

This happens because the user agent string being passed is determined to be Safari. The version number however, is not determined.

An

[2020-03-31 14:46] EvanHahn commented on #105
This seems like a bug. Given that you've looked into this, would you mind making a pull request?

Relatedly, I'm going to be [removing browser sniffing](https://github.com/helmetjs/csp/issues/97) in the next major version of this module, which will sidestep this problem. If you're okay to wait until then, we could do that, too.

[2020-03-31 17:25] emilmuller commented on #105
Created #106 :) The company I'm working for relies on X-Content-Security-Policy due to IE11. So removing browser sniffing in its entirety would not be good for us. But maybe somebody needs to tell our users to upgrade...

However, deactivating IE11 support will create a security issue for at least 1.93% in all of Norway where I reside. https://gs.statcounter.com/browser-market-share/all/norway. A

[2020-04-01 20:23] EvanHahn commented on #105
Thanks for that feedback—this is helpful.

What if the X-Content-Security-Policy header could be set on all responses, even if browser sniffing was otherwise disabled? Would that meet your needs?

[2020-04-02 07:36] emilmuller commented on #105
That would meet my needs :) According to https://caniuse.com/#feat=contentsecuritypolicy it looks like X-WebKit-CSP is relevant for 0.1% of users. IE10 + 11 however, is 1.43%. I'm not sure where one should draw the line on these things. Maybe a good strategy would be to drop X-Content-Security-Policy support in the future and instead add an additional middleware that does browser sniffing and shor

[2020-04-05 14:55] Cherry commented on #104
The schedule for Chrome got bumped around a bit given the current world situation, but it’s looking like this will be available in mid-May. https://chromiumdash.appspot.com/schedule

[2020-04-18 05:20] Cherry commented on #104
This landed in the latest Chrome beta today: https://blog.chromium.org/2020/04/chrome-83-beta-cross-site-scripting.html?m=1

[2020-04-18 14:09] EvanHahn commented on #104
Thanks! I plan to take a look soon.

[2020-05-25 12:32] EvanHahn commented on #104
Just an update here: this is something I'm working on in the next major version.

[2020-07-29 15:17] EvanHahn commented on #104
Helmet v4 will support this. I plan to release it this Sunday, 2020-08-02. You can try out the release candidate by running `npm install helmet@next`.

I'll close this issue once Helmet 4 is out.

[2020-07-29 15:23] EvanHahn commented on #70
This will be supported in the next major version of this module (and Helmet v4). I plan to release both of those this Sunday, 2020-08-02. You can try it now by running `npm install helmet@next`.

I'm going to close this issue for now, and you should be able to upgrade to the latest major version on Sunday.

[2020-07-29 15:23] #70 closed

[2020-07-29 15:24] EvanHahn commented on #82
This won't be validated in `helmet@4`. Closing as a "won't fix".

[2020-07-29 15:24] #82 closed

[2020-08-02 15:42] EvanHahn commented on #73
This has been addressed in `helmet@4` and `helmet-csp@3.0.0`.

[2020-08-02 15:42] #73 closed

[2020-08-02 15:43] EvanHahn commented on #78
This has been addressed in `helmet@4` and `helmet-csp@3.0.0`.

I'm going to be archiving this repository soon and moving everything to https://github.com/helmetjs/helmet/, so feel free to open an issue there if you run into any problems.

[2020-08-02 15:43] #78 closed

[2020-08-02 15:43] EvanHahn commented on #84
This has been addressed in `helmet@4` and `helmet-csp@3.0.0`.

I'm going to be archiving this repository soon and moving everything to https://github.com/helmetjs/helmet/, so feel free to open an issue there if you run into any problems.

[2020-08-02 15:43] #84 closed

[2020-08-02 15:43] EvanHahn commented on #97
This has been addressed in `helmet@4` and `helmet-csp@3.0.0`.

I'm going to be archiving this repository soon and moving everything to https://github.com/helmetjs/helmet/, so feel free to open an issue there if you run into any problems.

[2020-08-02 15:43] #97 closed

[2020-08-02 15:43] EvanHahn commented on #104
This has been addressed in `helmet@4` and `helmet-csp@3.0.0`.

I'm going to be archiving this repository soon and moving everything to https://github.com/helmetjs/helmet/, so feel free to open an issue there if you run into any problems.

[2020-08-02 15:43] #104 closed

[2020-08-02 15:44] EvanHahn commented on #105
This has been addressed in `helmet@4` and `helmet-csp@3.0.0`.

I'm going to be archiving this repository soon and moving everything to https://github.com/helmetjs/helmet/, so feel free to open an issue there if you run into any problems.

[2020-08-02 15:44] #105 closed

[2020-08-02 15:44] EvanHahn commented on #73
This has been addressed in `helmet@4` and `helmet-csp@3.0.0`.

I'm going to be archiving this repository soon and moving everything to https://github.com/helmetjs/helmet/, so feel free to open an issue there if you run into any problems.

[2020-08-02 15:45] EvanHahn commented on #75
`helmet@4` and `helmet-csp@3` were just released, which don't allow functions to be used _anywhere_ in the options. However, I've put together [a guide showing how to do this, which you can read here](https://github.com/helmetjs/helmet/wiki/Conditionally-using-middleware#i-want-to-use-some-middleware-with-different-options).

I'm going to be archiving this repository soon and moving everything to

[2020-08-02 15:45] #75 closed